.card{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 4px 8px black;
    transition: 0.9ms;
}

img{
    width:50%;
    padding: 5px;
}

.desc{
    padding: 0 2px 0 2px;
}

.card:hover{
    box-shadow: 2px 4px 16px black;
}